*, ::before, ::after {
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drum-pad{
  width: 6vw;
  height: 8vh;
  outline: 3px solid yellow;
  margin: 10px;
  background-color: white;
  font-size: 40px;
}
#container{
  outline: 3px solid black;
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 101, 245, 0.96);

}
#display{
  color: white;
  font-size: 20px;


}
#display-container{
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 224px;
  margin-left: 20px;
}
footer{
  padding-top: 3px;
}
img{
  height: 10%;
  width: 10%;
  position:absolute;
  top: 120px;
  right: 400px;
}
h1{
  position: absolute;
  top: 120px;
  left: 470px;
}