.environment{
  position: relative;
  margin: auto;
  width: 300px;
  height: 410px;
  background-color:rgb(177, 159, 137);
  /* margin-top: 10px; */
}

.container{
  position: relative;
  height: 290px;
  width: auto;
  background-color: #653818;
  border: 5px ridge black;
  padding-bottom: 20px;
  bottom: 10px;
  
  
}
.peptide{
  width: 10%;
  height: 10%;
}
#drum-machine{
  position: relative;
  margin: auto;
  border: 10px ridge rgb(138, 96, 6);
  background-color: black; 
  width: 174px;
  bottom: 30px;
}
.firstRow{
  margin-top: 3px;
}
.thirdRow{
  margin-bottom: 3px;
}
.col2{
  margin: 3px;
}
.col1{
  margin: 3px 3px 3px 6px; 
}
.col3{
  margin: 3px 6px 3px 3px;
}
#drum-machine button{
  position: relative;
  border: none;
  width: 50px;
  height: 50px;
  border: 3px ridge darkgray;
  font-size: 26px;
  font-weight: bold;
}
#drum-machine button:hover{
  background-color: ivory;
}
.display{
  position: relative;
  background-color: black;
  color: white;
  height: 50px;
  font-size: 24px;
  text-align: center;
  width: 182px;
  margin: auto;
  margin-top: 50px;
  border: 6px ridge rgb(138, 96, 6);
  border-bottom: none;
  bottom: 30px;
}
.powerLight{
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  top: 7px;
  margin-left: 10px;
}
.powerSwitch{
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;

}
.power{
position: relative;
height: auto;
width: 100%;
color: white;
margin-left: 50px;
font-style: italic;
font-weight: bold;
}
h2, img{
  display: inline-block;
}
img{
  position: relative;
  float: right;
  margin-right: 10px;
  top: 10px;
}
h2{
  position: relative;
  margin-left: 10px;
}